@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  font-family: 'Inter', system-ui, Avenir, Helvetica, Arial, sans-serif;
}

.font-serif {
  font-family: 'Playfair Display', serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
